.hidden{
    display: none;
}
.col-12{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
body, footer{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.emoji-setup{
    margin-left: auto;
    margin-right: auto;
}
.emoji{
    text-align: center;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    border: #3b7898;
    background-color: #6C9DC9;
    font-size: 5em;
    margin: .15em .15em .3em .15em;
    text-decoration: none;
    line-height: 2.5em;
    padding: 0.25em 0.5em;
}
.get-playlist{
    border: none;
    background-color: #b6b16f;
    font-size: 1em;
    color: #ffffff;
    border-radius: .2em;
    text-align: center;
    padding: .5em .7em;
    margin: 1.2em;
}
.nav-buttons {
    border: none;
    background-color: #A7B2BA;
    font-size: 1.5em;
    color: #ffffff;
    border-radius: .2em;
    text-align: center;
    padding: .5em .7em;
    margin: 2em;
}
header h1{
    text-align: center;
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
footer{
    text-align: center;
}
h2{
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.grey{
    background-color: #868989;
    height: .5em;
}
.darkgrey{
    background-color: #545757;
    height: .5em;
}
.show-playlists img{
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}
